body{
    margin-top: -150px;
    /* background-color: Black; */
    background-image: url(../images/5940.jpg);
    background-size: 100%;
    background-position: center;
    text-align: center
  }

h1{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 40pt;
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-stroke-color: grey; */
  }

.icons{
  width: 9%;
}
.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
